<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tu hoc reactjs</title>
    <script crossorigin src="lib/react.js"></script>
    <script crossorigin src="lib/react-dom.js"></script>
    <script src="lib/browser.min.js"></script>
</head>
<style>
    .color{background-color: yellow}
</style>
<body>
    <div id="root"></div>
    <script src="xuly.js" type = "text/babel">
        
    </script>
</body>
</html>